/*
Name:  view-doc
Author : Prosenjit Manna
Repo :  https://github.com/developer-prosenjit/view-doc.git
Version : 0.1
*/

@import 'scss/base/variables';
@import 'scss/vendors/vicon-variables';
@import 'scss/base/base';

@import 'scss/components/components';