.doc_main {
	@media (min-width: $screen-sm) {
		margin-left: 315px;
		max-width: 800px;
		border-left: 1px solid #E2D7D7;
		padding-left: 15px;
		display: block;
		overflow: hidden;
	}
}
.doc_section-row {

}